a:link
{
	color: rgb(51,153,255);
}
a:visited
{
	color: rgb(153,153,51);
}
a:active
{
	color: rgb(255,153,0);
}
body
{
	color: rgb(0,0,0);
	background-color: rgb(255,255,204);
}
h1
{
	color: rgb(51,153,255);
}
h2, marquee
{
	color: rgb(204,153,0);
}
h3
{
	color: rgb(102,102,0);
}
h4
{
	color: rgb(51,153,255);
}
h5
{
	color: rgb(204,153,0);
}
h6
{
	color: rgb(102,102,0);
}
BUTTON 
{
	background-color: rgb(51,153,255);	
	border-color: rgb(51,153,255);
	color:white;
}
LABEL, .MSTHEME-LABEL
{
	color: rgb(0,0,0);
}
TEXTAREA
{
	border-color: rgb(51,102,204);
	color:black;
}
FIELDSET
{
	border-color: rgb(51,102,204);
	color:black;
}
LEGEND
{
	color: rgb(102,102,0);
}
SELECT
{
	border-color: rgb(51,102,204);
	color:black;
}
TABLE
{
	table-border-color-light: rgb(51,153,255);
	table-border-color-dark: rgb(51,102,204);
	border-color: rgb(51,102,204);
	color: rgb(0,0,0);
}
CAPTION 
{
	color: rgb(102,102,0);
}
TH
{
	color: rgb(0,0,0);
}
HR
{
	color: rgb(102,102,0);
}
TD
{
	border-color: rgb(51,102,204);
}
