/* CSS Document */
#content {
	/*scrollbar setup in IE*/
	scrollbar-face-color:#EDF8F9;	/*移動棒的顏色*/
	scrollbar-arrow-color:#333;		/*按鈕箭頭顏色*/
	scrollbar-3dlight-color:#EEE;	/*移動棒邊框顏色*/
	scrollbar-track-color:#FFF;
}

#content p
{
    margin-bottom:0;
}

#nowsite{
	font-size:x-small;
	padding-bottom:10px;
}
#content h3{
	background:#f4f3e3;
	margin-bottom:5;
	font-size:11pt;
}
#content ul{
	list-style-image:url(../images/list_tree.png);
}
#content ol
{
	margin-top: 2px;
	margin-left: 30px;
	line-height:15pt;
	font-size:12px;
	letter-spacing:1px;
}

#content a{
	text-decoration:none;
	color:#696505;
}
#content a:hover{
	font-size:larger;
	text-decoration:underline;
}

#showalbum{
	padding-left:50px;
	width:710px;
	text-align:center;
}
#showalbum-shih{
	height:290px;
	width:320px;
	background:url(../images/photobg.png) top center no-repeat;
	padding:25px 15px 5px 15px;
	text-align:center;
}
#showalbum-shih img{
	width:280px;
}

#showalbum-sub{
	height:300px;
	width:320px;
	background:url(../images/photobg.png) top center no-repeat;
	margin:2px;
	padding-top:15px;
	float:left;
	text-align:center;
}

#showalbum-sub-text{
	padding:5px;
	height:50px;
	width:300px;
}
#showalbum-sub-height{
	height:300px;
	width:320px;
	background:url(../images/photobg.png) top center no-repeat;
	padding:15px 10px 5px 10px;
	margin:2 2 2 2;
	float:left;
	text-align:center;
}
#showalbum-sub-height img{
	height:200px;
}
#showalbum-sub-height-text{
	padding:5px;
	height:50px;
	width:300px;
}
#content .x{
	width:280px;
	height:220px;
	margin:auto;
	overflow:hidden;
}
#content .x img{
	width:100%;
	height:100%;
}
#content .y{
	height:200px;
	width:148px;
	margin:auto;
	overflow:hidden;
}
#content .y img{
	height:100%;
	width:100%;
}